body{
  text-align: center;
  
  font-family: sans-serif;
}
textarea{
  width: 420px;
  font-family: monospace;
  
}
label{
  display:inline-block;
  width: 420px;
  margin: 20px auto;
}

h1{
  background-color: blanchedalmond;
  margin: 0;
  display: inline-block;
  padding: 20px ; 
  width: 400px;
  border-radius: 20px;

}