body{
  display:flex;
  flex-direction: column;
  background-color:#111;
  zoom:1.75;
}
.container{
  padding-left: 20px;
  padding-bottom: 30px;
  /* margin-bottom: 70px; */
}
label{
  font-weight: 500;
  font-size: 20px;
  font-variant: small-caps;
  color: beige;
  border-top:2px double blanchedalmond;
}
.footer{
  height: 50px;
}
textarea{
  font-size: 13px;
  font-weight: 500;
  word-spacing: 4px;
  letter-spacing: 1px;
  color: beige;
  margin-bottom: 50px;

}
h1{
  word-spacing: 4px;
  letter-spacing: 1px;
  color: beige;
  margin-top: 40px;
  
}
textarea{
  height: 120px;
  width: 90%;
  background:#222;
}
.btn{
  width: 90%;
  text-decoration: none;
  border-radius: 10px;
  font-size: x-large;
  font-variant-caps: all-petite-caps;
}
